*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
figure,
blockquote {
  margin: 0;
}

body {
  min-width: 320px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.2em;
}